.bs-docs-section
  .row
    .col-md-12
      .page-header
        %h1#tables
      .bs-component
        - if @items.empty?
          %h2 No items presennt
        - else
          %table.table.table-white{cellpadding: '10'}
            %thead
              %tr
                %th{width: '20%'} Name
                %th{width: '70%'} Description
                %th{width: '10%'} Action
            %tbody
              - items.each do |item|
                %tr
                  %td
                    %div
                      %b= item.name
                    - if item.confirmed?
                      %div.label.label-primary
                        Confirmed
                  %td
                    %div
                      %b Item Category:
                      = item.category
                    %hr
                    %div
                      %b Description:
                      %br
                      = item.description
                    %hr
                    - if item.scheduled_time.present?
                      %div
                        %b Scheduled Meeting:
                        %br
                        = item.scheduled_time.in_time_zone
                      %hr
                    %div
                      %b User Details
                      %br
                      - donor = item.donor
                      = "Name: #{donor.name}"
                      %br
                      = "Address: #{donor.address.try(:display_address)}"
                      %br
                      = "Age: #{donor.age} |"
                      = "Gender: #{donor.display_gender}"

                  %td
                    - if item.confirmed?
                      = link_to 'Received', received_donation_path(item),
                        method: :put, class: 'btn btn-raised btn-primary'
                    - elsif item.pending?
                      = link_to 'Accept', schedule_donation_path(item),
                        class: 'btn btn-raised btn-primary'
                    - elsif item.received?
                      %div.label.label-primary
                        Received
                    - else
                      %div.label.label-primary
                        Request Sent
  = paginate @items
