= f.fields_for :detail do |ff|
  .form-group
    = f.label 'Name*', class: 'col-md-2 control-label'
    .col-md-10
      = ff.text_field :name, class: 'form-control'
  .form-group
    = f.label 'Age*', class: 'col-md-2 control-label'
    .col-md-10
      = ff.text_field :age, class: 'form-control numeric'
  .form-group
    %label.col-md-2.control-label Gender*
    .col-md-10
      .radio.radio-primary
        %label
          = ff.radio_button :gender, true
          %span.circle
          %span.check
          Male
      .radio.radio-primary
        %label
          = ff.radio_button :gender, true
          %span.circle
          %span.check
          Female
  .form-group
    = ff.label 'Occupation*', class: 'col-md-2 control-label'
    .col-md-10
      = ff.select :occupation, Volunteer.occupation_collection, {}, class: 'form-control'
  - if ff.object.user.try(:persisted?)
    = ff.fields_for :address do |addr|
      = render 'addresses/form', f: addr
