/ = image_tag 'banner.jpeg', width: '100%'
#banner{style: "width: 100%; background-image: url(#{image_url('4.jpeg')})"}
  .col-md-6
    .banner-text
      %h2
        / .gift-icon
        %span.glyphicon.glyphicon-gift
        / %br
        The meaning of life is to find your gift.
        The purpose of life is to give it away
        %span.glyphicon.glyphicon-gift
      / %br
      / .gift-icon
    .col-md-11
      .signup-btn-container
        %a.btn.btn-raised.btn-primary.btn-lg.btn-block{href: '#',
          'data-toggle' => 'modal', 'data-target' => '#sign-up-ngo'} Sign up as NGO
        %br
        %a.btn.btn-raised.btn-primary.btn-lg.btn-block{href: '#',
          'data-toggle' => 'modal', 'data-target' => '#sign-up-volunteer'} Sign up as Volunteer

#sign-in-modal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Sign In
      .modal-body
        = form_for User.new, url: session_path(User),
          html: { class: 'form-horizontal', id: 'sign-in-form' } do |f|
          %fieldset
            .form-group
              = f.label 'Email*', class: 'col-md-2 control-label'
              .col-md-10
                = f.email_field :email, class: 'form-control', style: "cursor: auto;"
            .form-group
              = f.label 'Password*', class: 'col-md-2 control-label'
              .col-md-10
                = f.password_field :password, class: 'form-control', style: "cursor: auto;"
              .col-md-10.col-md-offset-2
                .checkbox
                  %label
                    = f.check_box :remember_me
                    = f.label :remember_me
            .col-md-10.col-md-offset-2
              %button.btn.btn-primary.btn-raised#sign-in-submit-btn Login

#sign-up-ngo.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Sign Up
      .modal-body
        = render 'users/registration_form', user: @ngo_user

#sign-up-volunteer.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Sign up
      .modal-body
        = render 'users/registration_form', user: @volunteer
