- content_for :sidebar do
  = render partial: 'layouts/sidebar'
.col-md-8.col-md-offset-1.donations-form
  .well.bs-component
    = form_for Item.new, url: add_donation_users_path, html: { class: 'form-horizontal add-donation-form' } do |f|
      %fieldset
        .form-group
          = f.label :description, class: 'col-md-2 control-label'
          .col-md-10
            = f.text_area :description, class: 'form-control'
        .form-group
          = f.label :quantity, class: 'col-md-2 control-label'
          .col-md-10
            = f.text_field :quantity, class: 'form-control numeric',
              style: "cursor: auto;"
        .form-group
          = f.label :category, class: 'col-md-2 control-label'
          .col-md-10
            = f.select :category, Item.categories_collection, {}, class: 'form-control'
        .col-md-10.col-md-offset-2
          = f.submit "Add Donation", class: 'btn btn-primary btn-raised donation-submit-btn'
