!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Helping Hand
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    / Mobile support
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / Material Design fonts
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    / Bootstrap
    %link{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :rel => "stylesheet"}/
    / Bootstrap Material Design

    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'

    / Dropdown.js
    %link{:href => "//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css", :rel => "stylesheet"}
    = javascript_include_tag 'application'
  %body{class: "#{params[:controller]}-#{params[:action]}"}
    .container-fluid.main
      .row
        .navbar.navbar-default
          .container-fluid
            .navbar-header
              %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand{:href => "javascript:void(0)"}
                %h2.logo
                  Helping Hand
            .navbar-collapse.collapse.navbar-responsive-collapse
              %ul.nav.navbar-nav
              %ul.nav.navbar-nav.navbar-right
                %li
                  - if user_signed_in?

                    %li.dropdown
                      %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "javascript:void(0)"}
                        = "Welcome "
                        = gravatar_for current_user, 35 
                        %b.caret
                      %ul.dropdown-menu
                        = render "users/#{current_user.detail_type.downcase}_account_links"
                        %li.divider
                        %li
                          = link_to 'Logout', destroy_user_session_path, method: :delete
                  - else
                    %a{:href => "javascript:void(0)", class: "btn btn-raised btn-info", id: 'sign-in-btn',
                      'data-toggle' => 'modal', 'data-target' => '#sign-in-modal'} Sign In
      .row
        - if content_for? :sidebar
          %nav.col-md-2.menu
            = yield :sidebar
          .col-md-10
            = render 'shared/flash_message'
            .row
              = yield
        - else
          = render 'shared/flash_message'
          = yield
      / Open source code
      :javascript
        window.page = window.location.hash || "#about";

        $(document).ready(function () {
          if (window.page != "#about") {
            $(".menu").find("li[data-target=" + window.page + "]").trigger("click");
          }
        });

        $(window).on("resize", function () {
          $("html, body").height($(window).height());
          $(".main, .menu").height($(window).height() - $(".header-panel").outerHeight());
          $(".pages").height($(window).height());
        }).trigger("resize");

        $(".menu li").click(function () {
          // Menu
          if (!$(this).data("target")) return;
          if ($(this).is(".active")) return;
          $(".menu li").not($(this)).removeClass("active");
          $(".page").not(page).removeClass("active").hide();
          window.page = $(this).data("target");
          var page = $(window.page);
          window.location.hash = window.page;
          $(this).addClass("active");


          page.show();

          var totop = setInterval(function () {
            $(".pages").animate({scrollTop: 0}, 0);
          }, 1);

          setTimeout(function () {
            page.addClass("active");
            setTimeout(function () {
              clearInterval(totop);
            }, 1000);
          }, 100);
        });

        function cleanSource(html) {
          var lines = html.split(/\n/);

          lines.shift();
          lines.splice(-1, 1);

          var indentSize = lines[0].length - lines[0].trim().length,
              re = new RegExp(" {" + indentSize + "}");

          lines = lines.map(function (line) {
            if (line.match(re)) {
              line = line.substring(indentSize);
            }

            return line;
          });

          lines = lines.join("\n");

          return lines;
        }

        $("#opensource").click(function () {
          $.get(window.location.href, function (data) {
            var html = $(data).find(window.page).html();
            html = cleanSource(html);
            $("#source-modal pre").text(html);
            $("#source-modal").modal();
          });
        });
      / Twitter Bootstrap
      %script{:src => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"}
      / Material Design for Bootstrap
      :javascript
        $.material.init();
      / Sliders
      %script{:src => "//cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"}
      / Dropdown.js
      %script{:src => "https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"}
      %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js'}
      :javascript
        $("#dropdown-menu select").dropdown();
        toastr.options = {positionClass: 'toast-bottom-center'}
